@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">

            <a asp-action="Index" asp-controller="Patient"><img class="img-thumbnail" src="~/images/patient_icon.png" alt="patient_icon"></a>
            <p>Patient</p>
        </div>
         <div class="col text-center"></div>
    </div>
</div>