@using System.Collections
@model DashboardViewModel
@{
    ViewBag.title = "Dashboard";
}
<style>
    .icon-very-large {font-size: 130px;}
</style>
<h2>Rapports et Statistiques</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <a asp-action="PeriodPrescription" ><i class="bi bi-prescription2 icon-very-large"></i></a>
            <p>Prescriptions par périodes</p>
        </div>
            <div class="col text-center">
            <a asp-action="PeriodPrescription" asp-controller="MedRanking"><i class="bi bi-bar-chart-line icon-very-large" ></i></a>
            <p>Médicaments les plus utilisés</p>
        </div>
    </div>
</div>
<br />

   