@using System.Collections
@model DashboardViewModel
@{
    ViewBag.title = "Aide Index";
}
<style>
    .icon-very-large {font-size: 130px;}
</style>
<h2>Aide et Contact</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <a asp-action="Faq" asp-controller="Aide"><i class="bi bi-question-circle icon-very-large"></i></a>
            <p>Faq</p>
        </div>
        <div class="col text-center">
            <a asp-action="Contact" asp-controller="Aide"><i class="bi bi-person-circle icon-very-large"></i></a>
            <p>Contactez nous</p>
        </div>
    </div>
</div>
<br />