.footer {
  position: relative;
  width: 100%;
  padding: 1rem;
}
nav {
  padding-bottom: 5px;
}
.form-check-input:checked {
  background-color: black;
  border-color: #0d6efd;
}
a {
  text-decoration: none;
  color: black;
}
.space {
  padding-bottom: 50px;
}
body {
  background-color: #faf8b7;
  height: 100%;
}

.btn-danger {
  text-align: right;
}
.gsb {
  text-align: left;
  font-size: large;
}

#accueil {
  color: white;
}
